body {
    background-image: url("img/grup.jpg");
    background-size: cover;
    background-repeat: 0;
    background-attachment: fixed;
}
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.box {
    border-radius: 10px;
    height: 400px;
}
.back-button {
    display: flex;
    justify-content: left;
    border-radius: 5px;
    border: solid 1px rgba(128, 128, 128, 0.649);
    background-color: white;
    font-size: 30px;
    width: 33px;
}
.req-button {
    background-image: linear-gradient(to right, cyan, rgb(117, 117, 255));
    font-size: 30px;
    padding: 0 70px;
    border-radius: 20px;
    border: none;
    margin-bottom: 8px;
}
.title {
    border-bottom: solid black 2px;
    font-size: 40px;
    text-decoration: none;
}
input {
    margin-bottom: 20px;
}
#nama, #umur {
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}
.form-group {
    margin: 40px 0 20px 0;
}
/* <Learning_Zone> */
ul, li {
    float: center;
}
span {
    user-select: none;
}
/* </Learning_Zone> */
th {
    text-align: left;
    padding: 1px 5px;
    background-color: rgba(194, 255, 220, 0.855);
}
td {
    text-align: left;
    width: 50%;
}
tr, td, th {
    border: solid 1px black;
    border-collapse: collapse;
}
table {
    margin: 0 10px;
    border-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 721px) {
    .box {
        margin-top: 2%;
        background-color: white;
        width: 700px;
    }
    #lahir {
        padding: 0 8%;
    }
    table {
        margin-top: 10px;
        font-size: 40px;
    }
    #gender-icon {
        width: 70%;
        height: 70%;
    }
}
@media (max-width: 720px) {
    table {
        margin-top: 10px;
        font-size: 20px;
    }
    .box {
        margin-top: 2%;
        background-color: white;
        width: 98%;
    }
    #lahir {
        padding: 0 14%;
    }
    #gender-icon {
        width: 75%;
        height: 75%;
    }
}