.title {
    padding: 10px 0 40px 0;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    opacity: 95%;
}
input {
    margin: 10px 0 20px 0;
    border-radius: 20px;
    font-size: 19px;
}
input[type="submit"] {
    background-color: #1fc8db;
    /* --- Learning Area ---*/
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    opacity: 0.95;
    padding: 0 60px;
    font-size: 30px;
    /* --- Learning Area  ---*/
    color: white;
}
.Creator {
    font-size: 30px;
}
body {
    margin-top: 5%;
    margin-left: 36%;
    margin-right: 38%;
    background-image: url("./grup.jpg");
    background-size: cover;
}