body {
    background-image: url("./grup.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px 20px 20px 30px;
}
.container {
    width: 99%;
    height: 100%;
    background-color: rgb(238, 235, 235);
    opacity: 0.8;
    border-radius: 10px;
}
.Masukan {
    margin-left:33%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
#masukan {
    border-radius: 10px;
}
.container button {
    border-radius: 20px;
    background-color: azure;
    border: dotted;
}
#mwehehe {
    font-weight: bold;
}